*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "微软雅黑";
    color:#595555;
}
a{
    display: block;
    text-decoration: none;
    color: #333;
}
header{
    width:100%;
    height:68px;
    background: #fff;
    box-shadow: 0 1px 10px #ccc;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
}

.logo{
    width:140px;
    height:100%;
    background:url("../image/2.png") no-repeat center;
    background-size:contain;
    position: absolute;
    left:10%;
}

.header1{
    width:100%;
    height:68px;
    background: #fff;
    box-shadow: 0 1px 10px #ccc;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
    display: none;
}
.xiala {
    position: fixed;
    top: 68px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 990;
    display: none;
    overflow: hidden;
}

.xiala li {
    width: 80%;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #333;
}
.nav{
    position: absolute;
    top:25px;
    right:10%;
}
.nav li{
    box-sizing: border-box;
    float: left;
    padding:0 20px;
}
.nav li a{
    color:#666;
    line-height: 40px;
    font-size: 17px;
}
/*banner*/
.swiper-container1{
    width:100%;
}
.my{
    font-size: 28px;
    color: #fff;
    position: absolute;
    left:150px;
    top:15%;
}
@media screen and (max-width: 700px){
    header{
        display: none;
    }
    .header1{
        display: block;
    }
    .my{
        font-size: 18px;
        color: #fff;
        position: absolute;
        left:150px;
        top:30%;
    }
}
.info{
    width:80%;
    margin:50px auto;
}
.info_title{
    width:100%;
    height:60px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #C81833;
}
.info_con{
    width:100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.about_me img{
    margin-top: 20px;
}
.skill{
    width:100%;
    display: flex;
    margin:30px 0;
}
.skill li{
    width: 25%;
    overflow: hidden;
}
.skill img{
    -webkit-transform: rotateY(0deg);
    -webkit-transition: transform ease 1s;
}
.html img{
    width:100%;
}
.css img{
    margin-top:5px;
    width:72%;
}
.js img{
    margin-top:5px;
    width:86%;
}
.angular img{
    margin-top:6px;
    width:70%;
}
/*我的作品*/
.swiper-container{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.swiper-wrapper{
    width: 100%;
    height: 98%;
}
.swiper-container .swiper-slide{
    width: 340px;
    height: 90%;
    overflow: hidden;
}
.swiper-container .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
.more_info{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    background: rgba(0,0,0,.8);
    opacity:0;
}
.more_info p{
    text-align: center;
    color: #C81833;
    margin-top: -10px;
    margin-bottom: 24px;
}
.more_info div{
    width:150px;
    height:40px;
    background: #C81833;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    line-height: 40px;
    border-radius: 2px;
}
h3{
    color: #fff;
    text-align: center;
    padding-top: 84px;
}

.swiper-container2{
    width: 80%;
    overflow: hidden;
    position: relative;
    left:0;right:0;margin:0 auto;
}

.contact1,.contact2{
    margin: 0 25px;
    height:500px;
    box-sizing: border-box;
}
input,textarea{
    display: block;
    color: #ccc;
    font-size: 15px;
    font-family: "微软雅黑";
}
form{
    width:90%;
}
#name{
    width:100%;
    height:50px;
    border: 1px solid #ccc;
    text-indent: 0.5em;
}
#email{
    width:100%;
    height:50px;
    border: 1px solid #ccc;
    margin: 35px 0;
    text-indent: 0.5em;
}
#comment{
    width:100%;
    border: 1px solid #ccc;
    text-indent: 0.5em;
}
#submit{
    width:120px;
    height:50px;
    border: none;
    background: #A2B1A5;
    color: #fff;
    font-size: 17px;
    font-family: "微软雅黑";
    text-align: center;
    margin-top: 35px;
}
.w3{
    font-size: 15px;
    font-weight: bold;
    color: #2C2F42;
    text-align: left;
}

.detail_l,.detail_r{
    float:left;
    line-height: 40px;
    margin-top: 20px;
}
.detail{
    width:100%;
    height: 80px;
}

.line{
    width:96%;
    height: 1px;
    background: #ccc;
    margin: 0 auto;
}
.footer{
    width:100%;
    text-align: center;
    color: #666;
    padding: 10px 0;
}

.row li{
    width: 50%;
    height: 500px;
    background: red;
    float:left;
}

