*{
	padding: 0;margin:0;list-style:none;
}
body{
	width: 100%;
	height: 100%;
	background: url(../img/login.jpg) no-repeat;
	background-size: 110%;
}
.logo{
	width: 3.22rem;
	height: 1.1rem;
	background: url(../img/logo.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 2.7rem;left:0;right:0;
	margin: 0 auto;
}
.user{
	width: 5.4rem;
	height: 1rem;
	border-bottom: 1px solid #666;
	border-top: none;border-left:none;border-right:none;
	background: none;
	position: absolute;
	top: 5rem;left:0;right:0;
	margin: 0 auto;
	font-size:0.4rem;
	color:#888;
	text-align: center;
	line-height: 1rem;
	outline: none;
}
.pass{
	width: 5.4rem;
	height: 1rem;
	border-bottom: 1px solid #666;
	border-top: none;border-left:none;border-right:none;
	background: none;
	position: absolute;
	top: 6rem;left:0;right:0;
	margin: 0 auto;
	font-size:0.4rem;
	color:#888;
	text-align: center;
	line-height: 1rem;
	outline: none;
}
.forget{
	width: 5.4rem;
	height: 1rem;
	position: absolute;
	top: 7rem;left:0;right:0;
	margin: 0 auto;
	font-size:0.3rem;
	color:#888;
	text-align: right;
	line-height: 1rem;
	outline: none;
	text-decoration: none;
}
.login{
	width: 3.5rem;
	height: 1rem;
	border-radius: 1rem;
	background: #f8c900;
	border: none;
	color:#fff;
	font-weight: bold;
	font-size: 0.4rem;
	position: absolute;
	top: 8.5rem;left:0;right:0;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
}
.zhuce{
	width: 3.5rem;
	height: 1rem;
	border-radius: 1rem;
	border: 1px solid #666;
	background: none;
	color:#fff;
	font-weight: bold;
	font-size: 0.4rem;
	position: absolute;
	top: 9.7rem;left:0;right:0;
	margin: 0 auto;
	cursor: pointer;
	outline: none;
}
.copy{
	width: 7.5rem;
	font-size: 0.3rem;
	color: #666;
	text-align: center;
	position: absolute;
	top: 11.5rem;left:0;right:0;
	margin: 0 auto;
}
